<div class="container">

    <div class="form">
        <div>
            <h1>Escape Into the World of Books – Welcome to BookNest!</h1>
            <h2>Create your account</h2>
        </div>

        <div>
            <label>Email:</label>
            <input 
            type="email" 
            placeholder="enter your email address" 
            [(ngModel)]="email"
            >
       </div>
       <div>
        <label>Password:</label>
        <input 
        [(ngModel)]="password" 
        type="password" 
        placeholder="enter your password">

       </div>
           
         
            
        <button (click)="onSignup()">Signup</button>

        <div>
            <a href="/login">Already have an account?</a>
        </div>
      

  

      
    </div>


</div>